/*Обнуление fls*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
html {
  font-size: 100%;

  /*  Scales by 1px for every 100px from 600px onwards */
  @media (min-width: 600px) {
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
  }

  /*  Sets font-size to 22px after a viewport of 1000px */
  @media (min-width: 1000px) {
    font-size: calc(137.5%);
  }
}
ul,
ol {
  list-style: none;
}
/* technical classes */
._main-container {
  margin: auto;
  max-width: 1200px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  /* font-family: "Roboto", sans-serif; */
  /* padding-top: 50px; */
}
._center {
  display: flex;
  justify-content: center;
  align-items: center;
}
._comumn {
  flex-direction: column;
}

/* main css */
.separator {
  background-color: rgb(112, 79, 189);
  height: 2px;
  width: 100%;
  margin: 50px 0px;
}
.section-title {
  font-size: 25px;
}
/* ======timer====== */
.timer-result {
  font-size: 1.5rem;
}
.start-btn {
  color: rgba(254, 254, 255, 0.733);
  background-color: rgb(30, 170, 53);
  width: 3rem;
  height: 1.5rem;
  border-radius: 5px;
}
/* ======input====== */
.text {
  color: rgb(12, 12, 12);
  background-color: rgb(116, 192, 116);
}
.wrong-text {
  outline: red solid 3px;
  border: 1px solid red;
  background-color: rgb(240, 119, 119);
  border-radius: 1px;
}
/* =======sidebar======= */
.horizontal-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sidebar-container {
  /* border: 1px black solid; */
  width: 100%;
  height: 20rem;
  position: relative;
  display: inline-flex;
}
.sidebar-icon {
  width: 3rem;
  height: 1.5rem;
  background-color: rgb(116, 192, 116);
  position: relative;
  border-radius: 2px;
  padding: 4px;
  border: 1px solid rgb(56, 99, 77);
}
.sidebar {
  width: 250px;
  height: max-content;
  background-color: rgb(116, 192, 116);
  position: absolute;
  left: -250px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  padding: 5px;
}
.sidebar-visible {
  left: 0px;
  transition: 0.5s linear all;
}

.fade {
  transition: 0.5s linear all;
}
.menu-item {
  margin-bottom: 10px;
  border: 1px solid white;
  width: 3rem;
  border-radius: 2px;
  color: aliceblue;
  background-color: rgb(116, 192, 116);
}
.three-lines {
  width: 100%;
  height: 2px;
  background-color: rgb(56, 99, 77);
  margin-bottom: 2px;
}
/* .sidebar {
  width: 0px;
  height: max-content;
  background-color: rgb(116, 192, 116);
  position: relative;
  /* left: 50px; 
  overflow: hidden;
} */
._hidden {
  display: none;
}
